@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

h1 {
    font-family: 'Lato', sans-serif;
}

.backCircle {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.backCircle[data-isOpen="true"] {
    width: 400px;
}

.topCircle {
    width: "w-32";
    height: "h-10";
    background: white;
    border-radius: 50%;
    transform-origin: 0%;
}

/* Style for  */
.mainContainer {
    display: flex;
    flex-direction: column;
}

.profileContainer {
    display: flex;
    align-self: center;
    flex-direction: column;
    margin: -5%;
    -ms-flex-align: center;
    width: 100%;
}
.avatarImage {
    margin-left: 42.5%;
}

.pencilButton {
    margin: -120px 50%;
}
.profileInfo {
    color: white;
    margin-top: 15px;
    text-align: center;
    font-size: 18px;
    width: 95%;
}

.profileInfo h1 {
    font-size: 30px;
}
.profileInfo a {
    color: gray;
    font-size: 15px;
    text-decoration: underline;
}
.profileInfo h2 {
    font-size: 20px;
    font-weight: bold;
}
.socialButtons {
    display: flex;
    align-self: center;
    margin: 10px;
}
.socialButtons * {
    margin-right: 10px;
}

.skillsContainer {
    display: flex;
    align-self: center;
    flex-direction: column;
    
    margin: 40px;
    border-top: 10px;
    border-color: brown;
    
}
.skillsContainer h3 {
    display: flex;
    align-self: center;
    margin-top: 0;
    margin-left: -60px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}
.skillsTags {
    display: flex;
    flex-direction: row;
    margin-left: 130px;
}

.bulletSkill {
    display: flex;
    align-items: center; /* Vertically center the content */
    background-color: #262626;
    border-radius: 5px;
    border-color: #E04189;
    border-width: 2px;
    padding: 8px; /* Increase padding for more separation */
    margin: 5px; /* Adjust margin between bulletSkill elements */
    color: #E04189;
  }
  .bulletSkill p {
    margin-left: 10px; /* Add space between icon and text */
  }
.progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 10px;
    background: var(--red);
    transform-origin: 0%;
  }