@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

h1 {
    font-family: 'Lato', sans-serif;
}

.backCircle {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.backCircle[data-isOpen="true"] {
    width: 400px;
}

.topCircle {
    width: "w-32";
    height: "h-10";
    background: white;
    border-radius: 50%;
    transform-origin: 0%;
}

/* Style for  */
.mainContainer {
    display: flex;
    flex-direction: column;
}

.profileContainer {
    display: flex;
    align-self: center;
    flex-direction: column;
    margin: -5%;
    -ms-flex-align: center;
    width: 100%;
}

.avatarImage {
    margin-left: 42.5%;
}

.pencilButton {
    margin: -120px 50%;
}

.profileInfo {
    color: white;
    font-size: 18px;
}

.profileInfo h1 {
    font-size: 30px;
}

.profileInfo a {
    color: gray;
    font-size: 15px;
    text-decoration: underline;
}

.profileInfo h2 {
    font-size: 20px;
    font-weight: bold;
}

.socialButtons {
    display: flex;
    align-self: center;
    margin: 10px;
}

.socialButtons * {
    margin-right: 10px;
}

.skillsContainer {
    display: flex;
    align-self: center;
    flex-direction: column;

    margin: 40px;
    border-top: 10px;
    border-color: brown;

}

.skillsContainer h3 {
    display: flex;
    align-self: center;
    margin-top: 0;
    margin-left: -60px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.skillsTags {
    display: flex;
    flex-direction: row;
}

.bulletSkill {
    display: flex;
    align-items: center;
    /* Vertically center the content */
    background-color: #262626;
    border-radius: 5px;
    border-color: #E04189;
    border-width: 2px;
    padding: 8px;
    /* Increase padding for more separation */
    margin: 5px;
    /* Adjust margin between bulletSkill elements */
    color: #E04189;
}

.bulletSkill p {
    margin-left: 10px;
    /* Add space between icon and text */
}

.bg-gray-important {
    background-color: #353434 !important;
}

.bg-gray-important:hover {
    background-color: #353434 !important;

}

.bg-pink-important {
    background-color: #E04189 !important;
}

/* Pink scrollbar with dark gray bg */
.custom-scrollbar {
    scrollbar-color: #E04189 transparent;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    /* Set the width of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
    background-color: #323232;
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #E04189;
    /* Make the thumb pink */
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #C83A7D;
    /* Lighter pink on hover */
}

.text-shadow {
    text-shadow: 1.5px 1.5px 1.7px rgba(0, 0, 0, 1);
    /* Customize the shadow values */
}

.custom-shadow {
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.6);
}

.profilePic-shadow {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.9), inset 0 0 20px rgba(0, 0, 0, 0.9);
}

.shadow {
    box-shadow: inset 0 0 130px #000000;
}

/* Slide button white to pink */
.moving-bar, .moving-bar-left, .moving-bar-bb {
    min-width: 100px;
    height: 40px;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 50px;
    z-index: 0;
    background: #DF4088;
    overflow: hidden;
    border: 0;
}

.moving-bar-left {
    background: red;
}

.moving-bar-bb {
    min-width: 150px;
    background: #fff;
    color: #DF4088 !important;
}

.moving-bar:hover, .moving-bar-left:hover {
    color: #DF4088 !important;
    border-radius: 50px;
}

.moving-bar-left:hover {
    color: red !important;
}

.moving-bar-bb:hover {
    color: #fff !important;
}

.moving-bar:hover:after, .moving-bar-left:hover:after, .moving-bar-bb:hover:after {
    width: 100%;
    border-radius: 50px;
}

.moving-bar:after, .moving-bar-bb:after {
    content: "";
    position: absolute;
    z-index: -1;
    transition: all 0.3s ease;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background: #fff;
    border-radius: 50px;
}

.moving-bar-left:after {
    content: "";
    position: absolute;
    z-index: -1;
    transition: all 0.3s ease;
    right: 0;
    top: 0;
    width: 0;
    height: 100%;
    background: #fff;
    border-radius: 50px;
}

.moving-bar-bb:after {
    background: #DF4088;
}

.bg-pink-important:hover {
    background-color: #E04189 !important;
}

.editpro-banner {
    width: 100%; /* Full width */
    height: 200px; /* Adjust based on your needs */
    /* background-image: url('./src/assets/images/banner.jpg'); */
    background-size: cover; /* Ensures the image is not distorted */
    background-repeat: no-repeat;
    background-position: center; /* Centers the image */
}

.circular-image {
    width: 100px; /* Adjust based on your needs */
    height: 100px;
    border-radius: 50%; /* Makes the image circular */
    position: absolute; /* Positions the image relative to the section-below container */
    top: -50px; /* Half the height of the image to position it half on the banner and half on the section below */
    left: 50%; /* Centers the image horizontally */
    transform: translateX(-50%); /* Ensures the image is centered */
}