@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

h1 {
    font-family: 'Lato', sans-serif;
}

.backCircle {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.backCircle[data-isOpen="true"] {
    width: 400px;
}

.topCircle {
    width: "w-32";
    height: "h-10";
    background: white;
    border-radius: 50%;
    transform-origin: 0%;
}

/* Style for  */
.mainContainer {
    display: flex;
    flex-direction: column;
}

.profileContainer {
    display: flex;
    align-self: center;
    flex-direction: column;
    margin: -5%;
    -ms-flex-align: center;
    width: 100%;
}

.avatarImage {
    margin-left: 42.5%;
}

.pencilButton {
    margin: -120px 50%;
}

.profileInfo {
    color: white;
    font-size: 18px;
}

.profileInfo h1 {
    font-size: 30px;
}

.profileInfo a {
    color: gray;
    font-size: 15px;
    text-decoration: underline;
}

.profileInfo h2 {
    font-size: 20px;
    font-weight: bold;
}

.socialButtons {
    display: flex;
    align-self: center;
    margin: 10px;
}

.socialButtons * {
    margin-right: 10px;
}

.skillsContainer {
    display: flex;
    align-self: center;
    flex-direction: column;

    margin: 40px;
    border-top: 10px;
    border-color: brown;

}

.skillsContainer h3 {
    display: flex;
    align-self: center;
    margin-top: 0;
    margin-left: -60px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.skillsTags {
    display: flex;
    flex-direction: row;
}

.bulletSkill {
    display: flex;
    align-items: center;
    /* Vertically center the content */
    background-color: #262626;
    border-radius: 5px;
    border-color: #E04189;
    border-width: 2px;
    padding: 8px;
    /* Increase padding for more separation */
    margin: 5px;
    /* Adjust margin between bulletSkill elements */
    color: #E04189;
}

.bulletSkill p {
    margin-left: 10px;
    /* Add space between icon and text */
}

.bg-gray-important {
    background-color: #353434 !important;
}

.bg-gray-important:hover {
    background-color: #353434 !important;

}

.bg-pink-important {
    background-color: #E04189 !important;
}

.bg-pink-important:hover {
    background-color: #E04189 !important;
}

.editpro-banner {
    width: 100%; /* Full width */
    height: 200px; /* Adjust based on your needs */
    /* background-image: url('./src/assets/images/banner.jpg'); */
    background-size: cover; /* Ensures the image is not distorted */
    background-repeat: no-repeat;
    background-position: center; /* Centers the image */
}